/******************************************************************************* 

 *  CSS Principaux de base

*******************************************************************************/

html { /*min-height: 300px; */



}



img{

	border:none;

}



body {

    margin: 0;

    font-family: "Helvetica neue",  Helvetica, Arial;

    font-size: 12px;

    background-color: #F6F6F6;

    overflow-x: hidden;

    height: 100%;

    width:100%;


}



h1 {



}



h2 {



}



input {

    padding: 5px;

    font-size: 15px;

}



ul {

    margin: 0;

    padding: 0;

}



table {

    border-collapse:collapse;	

    border: 1px solid #CCCCCC;

    border-radius: 5px 5px 5px 5px;

    width: 100%;

}

table td{

    border: 1px solid #CCCCCC;    

    padding: 5px;

}



.clear{

	clear:both;

}



.signature {

    font-style: italic;

    font-weight: bold;

    margin-right: 5%;

    text-align: right;

}





/******************************************************************************* 

 *  Header

*******************************************************************************/

header {

    position: fixed;

    margin: 0;

    height: 80px;

    width: 100%;

    overflow: visible;

    z-index: 9999;

    background-color: #4BB4E6;

    text-align: center;

}



header h1 {

    margin: 0;

    height: 70px;

    line-height: 70px;

    display: inline-block;

    font-size: 22px;

    font-weight: bold;

    vertical-align: top;

}



header .btn {

    font-size: 14px;

    margin-top: 5px;

    white-space: nowrap;

    line-height: 85px;

    display: inline-block;

    cursor: pointer;

    color: #000000;

    text-decoration: none;

    padding-left: 5px;

    padding-right: 5px;

}



#btn-retour {

    float: left;

    margin-right: 5px;

    font-size: 5em;

    line-height: 50px;

    padding-left: 10px;

    padding-right: 0px;

    width: 30px;

}



#btn-recherche-et-menu{

    float: right;

    line-height: 50px;    

}



#lien_accueil{

    text-decoration:none;

    color: #000000;

}



/******************************************************************************* 

 *  Footer

*******************************************************************************/

footer {

    width: 100%;

}



/******************************************************************************* 

 *  Container

*******************************************************************************/

#container {

    width:100%;

    z-index: 1000000;

}



#main {

    margin-left: 0;

    display: inline-block;

    overflow: visible;

    border: 0 none;

    top: 0;

    width: 100%;

    min-height: 423px;

    height: 100%;

    padding-top: 60px;

}



/******************************************************************************* 

 *  Menu

*******************************************************************************/

#menu {

    float: left;

    height: 94%;

    width: 164px;

    background-color: #333333;

    margin-left: -165px;

    position: fixed;

    border-right: solid 1px;

    z-index: 1000;

    top: 80px;

}



#menu h3 {

    color: white;

    margin-left: 10px;

}



#boutons-menu ul {



}



#boutons-menu li {

    border-bottom: 1px solid #999999;

    color: #FFFFFF;

    display: block;

    font-size: 14px;

    text-shadow: 0 1px 1px #000000;

    width: 165px;

}



#boutons-menu a {

    color: #FFFFFF;

    display: block;

    text-decoration: none;

    width: 145px;

    padding: 10px 0 10px 15px;

}



#boutons-menu li a img {

    width: 20px;

    margin-right: 10px;

    border: 0;

    float: left;

}



#info_langue{

    float:right;

    margin:5px;

}



/******************************************************************************* 

 *  Bloc recherche

*******************************************************************************/

#bloc-recherche { /*background-color:#ccc; */

    /*text-align: center;*/

    padding: 5px;

    background-color: #FFFFFF;

    border-bottom: 1px solid #B3B3B3;

    position:relative;

    display: none;
margin-top: 20px;

}



#bloc-recherche input {

    width: 90%;

    border-radius: 5px;

    height: 25px;

}



#search-input {

    width: 300px;

}



#search-results {

    position: relative;

    

}



#search-results ul {

    width: 300px;

    position: absolute;

    top: 0px;

    left: 0px;

    background-color: white;

    border: 1px solid #ccc;

    list-style: none;

    padding: 0;

    margin-top: 0;

    font-size: 0.9em;

}



#search-results li {

    padding: 5px;

    list-style: none;

}



#search-results li:hover {

    background-color: #eee;

    cursor: pointer;

}



#search-results li a {

    color: #333333;

    display: block;

    font-size: 15px;

    height: 22px;

    text-decoration: none;

    width: 100%;

}



#search-load {

    text-decoration: none;

    width: 15px;

}



#effacer_recherche{

    position:relative;

    float:left;

    margin-top:-27px;

    margin-left: 89%;

    cursor:pointer;

    display:none;

}



/******************************************************************************* 

 *  Bloc contenu

*******************************************************************************/

#bloc-contenu {

    font-size: 1.4em;

    line-height: 20pt;

    width: 100%;

}



#bloc-contenu ul{

    margin-bottom: 40px;

}



#bloc-contenu #categories_page_accueil

{

    margin-top: 40px;  

}



#bloc-contenu .categories_aff_1{

    margin-top: 8px;

    margin-bottom: 0px;

}



#bloc-contenu .boutons-ligne{

    margin-top: 0px;

}



#bloc-contenu-saisie {

    font-size: 12px;

    padding: 20px;

}

#bloc-contenu-saisie ul {

    margin: 15px;

}



#bloc-contenu h2, #bloc-contenu h3{

    background-color: #666666;

    color: #FFFFFF;

    font-size: 1.4em;

    margin: 44px 1% 0px 1%;

    padding-left: 2%;

}



#bloc-contenu a {

    color: #000000;

}



#categories_page_accueil li {

    height: 70px;

    line-height: 70px;

    text-align: center;

    width:98%;

}



#categories_page_accueil .icone_categorie {

    top: 0px;

    float: left;

    height: 100%;

    margin: 0px 0px 0px 0px;

}



#categories_page_accueil li a .libelle-avec-image{

    position: absolute;

    left: 90px;

}



.categories_aff_2 {

    margin: 0 -10px 0 0;

}



.categories_aff_2 li { /*background-color: white;*/

    box-sizing: border-box;

    cursor: pointer;

    display: list-item;

    font-size: 15px;

    font-weight: bold;

    height: 80px;

    list-style-image: none;

    list-style-position: outside;

    list-style-type: none;

    text-align: left;

    width: 49%;

    display: inline-block;

    margin: 4px 1% 4px 0;

    background-color: #FFFFFF;  

    padding-top: 5px;

    padding-bottom: 5px;

    padding-left: 5px;



    /*white-space : nowrap; /*permet de forcer le non retour à la ligne*/ 

    /*overflow : hidden; /*permet de masquer si ça dépasse   */

    /* text-overflow : ellipsis; /*permet de rajouter ... si ça dépasse  */

}



.categories_aff_2 li a {

    width: 100%;

    height: 100%;

    text-decoration: none;

    display: block; 

}



.categories_aff_2 li a img { /*display: block;*/

    float: left;

/*    margin: 5px 5px 40px;*/

    top: 8px;

    position:relative;

}



.categories_aff_2 li a span.libelle-avec-image { 

    word-wrap: break-word;

    width: 60%;

/*    height: 100%;*/

/*    vertical-align: middle;*/

    display: inline-block;

    position: relative;

/*    margin-top: -20px;*/

    margin-left: 5px;

}

.categories_aff_2 li a span.libelle-sans-image {

    word-wrap: break-word;

    width: 90%;

    display: inline-block;

    padding-left:15px;

    height: 64px;

    vertical-align: middle;

    display: table-cell;

}



.categories_aff_1 li, .boutons-ligne li {

    background: #FFFFFF;

    cursor: pointer;

    display: inline-block;

    font-size: 16px;

    font-weight: bold;

    height: 70px;

    line-height: 70px;

    list-style: none outside none;

    margin: 5px 1% 0 1%;

    text-align: left;

    vertical-align: top;

    width: 98%;

}



.categories_aff_1 li a, .boutons-ligne li a {

    width: 100%;

    height: 100%;

    text-decoration: none;

    display: block;

    position:relative;

}



.categories_aff_1 li a img {

    margin-left: 8px;

    height:35px;

    position:relative;

    vertical-align: middle;

}



.categories_aff_1 li a .libelle-avec-image{

    position: absolute;

    left: 65px;

}



.categories_aff_1 li a .libelle{

    position: absolute;

    left: 2%;    

}



.boutons-ligne .libelle{

    position: absolute;

    left: 2%;

}



.conteneur_icone_sous_categorie, .conteneur_article {

    display: inline-block;

    width: 50px;

    height: 100%;

    float: left;

}



.conteneur_numeros_urgence {

    position: relative;

    width: 98%;

    margin: 30px 1% 0 1%;

    background-color: #FFFFFF;

    padding-left: 0;

    padding-top: 0%;

/*    margin-left: 2%;*/

}



article .conteneur_numeros_urgence {

    margin-top: 0;

}



/*Quand on est dans un article, on a du padding 2% dons il faut les enlever de la largeur*/

article .conteneur_numeros_urgence {

    width: 96%;

}



.conteneur_numeros_urgence div {

    margin-left: auto;

    margin-right: auto;

    width: 100%; 

}



.numeros_urgence {

    font-weight: bold;

    font-size: 30px; 

    border-radius: 5px;

    line-height: 40px;

}



.conteneur_fleche_droite {

    color: #000000;

    float: right;

    margin-right: 6px;

    vertical-align: middle;

}



#categories_page_accueil .conteneur_fleche_droite {

    line-height: 60px;

    font-size: 2.5em;

}



.categories_aff_1 .conteneur_fleche_droite {

    line-height: 60px;

    font-size: 2em;

}



.boutons-ligne .conteneur_fleche_droite {

    line-height: 65px;

    font-size: 2em;

}



.liste_numeros_urgence {

    margin-top: 4px;

    display: inline-block;

    width: 25%;

    vertical-align: text-top;

    text-align: center;

}



div #urgence_samu {

    /*obligation de mettre la propriete color dans l'identifiant 

    bien que commun a toute la classe sinon color de l'ident bloc-contenu pris en priorité*/

    color: #FFFFFF;

    background-color: #527EBD;

}



div #urgence_police {

    /*obligation de mettre la propriete color dans l'identifiant 

    bien que commun a toute la classe sinon color de l'ident bloc-contenu pris en priorité*/

    color: #FFFFFF;

    background-color: #A885D8;

}



div #urgence_pompiers {

    /*obligation de mettre la propriete color dans l'identifiant 

    bien que commun a toute la classe sinon color de l'ident bloc-contenu pris en priorité*/

    color: #FFFFFF;

    background-color: #DC3C14;

}



div #urgence_toutes {

    /*obligation de mettre la propriete color dans l'identifiant 

    bien que commun a toute la classe sinon color de l'ident bloc-contenu pris en priorité*/

    color: #FFFFFF;

    background-color: #32C832;

}



.libelle_numeros_urgence{

    font-size: 10px;

    line-height: 13px;

}



#loading {

    background-image: url("../images/loading.gif");

    background-position: center center;

    background-repeat: no-repeat;

    border-radius: 5px 5px 5px 5px;

    display: inline-block;

    height: 25px;

    left: 50%;

    margin-left: -120px;

    margin-top: -35px;

    padding-top: 79px;

    position: absolute;

    text-align: center;

    top: 50%;

    width: 240px;

    display: none;

}



#loading-cache {

    height: 25px;

	margin-left:auto;

   	margin-right: auto;		

    position: relative;

    text-align: center;

    top: 30%;

    width: 400px;

    display: none;

}



#loading-cache #bar_avancement_cache{

	background-color: #EEEEEE;

	background: linear-gradient(to bottom, #F5F5F5, #F9F9F9);

	background: -o-linear-gradient(to bottom, #F5F5F5, #F9F9F9);

	background: -moz-linear-gradient(to bottom, #F5F5F5, #F9F9F9);

	background: -webkit-linear-gradient(to bottom, #F5F5F5, #F9F9F9);

	background: -ms-linear-gradient(to bottom, #F5F5F5, #F9F9F9);

    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;

    height: 20px;

	margin-top:20px;

}



#loading-cache #avancement_cache{

 	background-color:#32C832;

	width:0%;

	height:100%;

	border-radius: 5px;

}



#loading-cache #avancement_cache.erreur{

	background-color:#DC3C14;

}



p.accueil{

    display: none;

}



#conteneur-page-lancement-appli{

    /*background: url('../images/balloons.png') #A885D8 center bottom no-repeat;*/
    background: url('../images/bouclier-seul-fond-bleu.png') #4BB4E6 center bottom no-repeat;

/*    background-size: 60%;*/

    /*background-size: 260px 420px;*/
    background-size: contain;

    position: absolute;

    left: 0;

    top: 0; 

    width: 100%;

    height: 100%;   

    display:block;

    z-index: 10000000;

}



#titre-page-lancement-appli{

    font-family: HelveticaNeue,Arial,sans-serif;

    font-size: 50px;

    padding: 10px 0 0px 15px;

}



#sous-titre-page-lancement-appli{

    font-size: 25px;

/*    font-weight: 100;*/

    /*On decale plus a droite pour le sous-titre pour que visuellement ca fasse plus aligne*/

    padding: 0 0 0px 19px;

}



#conteneur-logo-page-lancement-appli img{

    width: 60px;

    height: 60px;

    bottom: 30px;

    right: 30px;

    position: absolute;

    z-index: 5;

}



#bloc-contenu .titre_article{

	display: none;

}



.page-sous-cat {

    color: #FFFFFF;

    background-color: #666666;

    margin: 0px 1% 0px 1%; 

    padding-left: 2%;

    

}



/******************************************************************************* 

 *  Page article

*******************************************************************************/

article {

    margin-top: 15px;

}



#bloc-contenu article div, #bloc-contenu article div ul{

    padding-left: 2%;

    padding-right: 2%;       

    padding-top: 2%;

}



#bloc-contenu article .domaine_annuaire, #bloc-contenu article .menu_annuaire_fixe{

    padding: 0;

}



#bloc-contenu article ul{

    margin-bottom: 10px;

    margin-left: 2%;

    margin-right: 2%;

}



#bloc-contenu article p{

    margin-left: 2%;

    margin-right: 2%;

}



#bloc-contenu article .conteneur_btn_quiz{

    padding-left: 0;

}



#bloc-contenu article #conteneur_quiz_total, #bloc-contenu article .conteneur_question_reponses{

    padding: 0;

}



#bloc-contenu article h2 {

    font-size: 1.1em;

}



#bloc-contenu article li {

    margin-left: 20px;

}





#bloc-contenu article .liste_numeros_urgence {

    margin-left: 0px;

    width: 23%;

}



/******************************************************************************* 

 *  Plan du site

*******************************************************************************/

#plansite  {

    margin-left: 5px;

}



#plansite ul {

    margin-bottom: 2px;

}    

    

#plansite li {

	padding: 2px;

}



#plansite img{

    float: left;

    opacity: 0.6;

    height: 25px;

}



#plansite a{

    color: #666666;

    text-decoration: none;

    margin-left: 25px;

}



#plansite li.categorie {

    font-weight: bold;

    list-style-type: none;

    background-repeat: no-repeat;

    background-size: 30px 30px;

    padding-left: 2%;

} 



#plansite li.cat_sans_icone {

    padding-left: 10%;

} 



#plansite li.article {

    font-weight: normal;

    list-style-type: none;

    margin-left: 30px;

    padding-bottom: 0;

}



/******************************************************************************* 

 *  Page a propos

*******************************************************************************/

#a_propos, #mentions_legales {

    padding-left: 2%;

    padding-right: 2%;

}



/******************************************************************************* 

 *  Page glossaire

*******************************************************************************/

ul.glossaire {

    list-style: none;

    width: 100%;

    padding-top: 2%;

    margin-left: 1%;

    margin-right: 1%;

    

}



ul.glossaire .lettre {

    display: inline-block;

    width: 98%;

    padding: 5px 0px 5px 0;

    background-color: #FFFFFF;

    font-weight: bold;

    margin-bottom: 4px;

    font-size: 25px;

    height: 30px;

    line-height: 30px;

    color: #666666;

}



ul.glossaire .conteneur_fleche_droite {

    font-size: 2em;

    line-height: 22px;

    color: #666666;

}



ul.glossaire .lettre img {

    float: right;

    height: 100%;

    vertical-align: middle;

}

.mots {

    display: none;

}



.mots ul {

    list-style: none;

}



.mots li {

    height: 25px;

    padding: 10px;

}





/******************************************************************************* 

 * Templates

*******************************************************************************/

/* Tableau dynamique */

table.tableau-crise-dynamique {

    border-collapse:collapse;	

    border: 1px solid #CCCCCC;

    border-radius: 5px 5px 5px 5px;

    width: 100%;

}

table.tableau-crise-dynamique td{

    border: 1px solid #CCCCCC;    

    padding: 0;

}



#boutons_crises{

    text-align:center;

    margin:5px;

}



#boutons_crises span{

    text-align:center;

    display: inline-block;

    padding:5px;

    width: 20%;

    cursor: pointer;

    margin:6px;

    border-radius: 5px 5px 5px 5px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);



}



.btn-jaune {

    background-color: #FFD200;

}

.btn-rouge {

    background-color: #DC3C14;

}

.btn-noire {

    background-color: #000000;

    color :#FFFFFF;

}



table.tableau-crise-dynamique .colonne-couleur-crise{

    width:12px;

    border:0;

}







/******************************************************************************* 

 * Lien articles

*******************************************************************************/

.lien-article_horizontale { 	

    cursor: pointer;

    display: inline-block;

    font-size: 11px;

    font-weight: bold;

    list-style: none outside none;	

    width: 95%;	

    padding:5px;	

    text-decoration: none;

    text-transform : uppercase;

    text-align:center;

}

.lien-article_horizontale_fond { 

    background-color: #FFFFFF;

}



.lien-article_verticale {

    border: 1px solid #AAAAAA;

    border-radius: 5px 5px 5px 5px;

    color: #343434;

    cursor: pointer;

    display: inline-block;

    font-size: 11px;

    font-weight: bold;	

    list-style: none outside none;	

    height:100%;

    padding:10px;	

    text-decoration: none;

    text-transform : uppercase;

    text-align:center;

}



.lien-article_verticale_fond { 	 

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=0 );	

    background:linear-gradient(left,#CCCCCC, #D9D9D9, #FFFFFF);	

    background: -o-linear-gradient(left,#CCCCCC, #D9D9D9, #FFFFFF);	

    background: -moz-linear-gradient(left,#CCCCCC, #D9D9D9, #FFFFFF);	

    background: -webkit-linear-gradient(left,#CCCCCC, #D9D9D9, #FFFFFF);	

    background: -ms-linear-gradient(left,#CCCCCC, #D9D9D9, #FFFFFF);	

}



/******************************************************************************* 

 * Style pour l'ajout des notes de la page statique Mode d'emploi

*******************************************************************************/



#entete_ajout_notes{

	position:relative;

}



#entete_ajout_notes h4{

	margin: 10px 0;

	background-color: #F16E00;

    color: #FFFFFF;

	font-weight: 300;

    padding: 5px;

	text-align:center;

	font-weight:bold;

	cursor:pointer;

}



#liste_notes{
	display:none;

}



#liste_notes h5{

	background-color: #666666;

    border-radius: 5px;

    color: #FFFFFF;

    font-weight: bold;

	margin: 10px 0;

	text-align:center;

}



#liste_notes .colonne_note{	

	width:49%;

	float:left;

}



#liste_notes .colonne_note:nth-child(2n){

	margin-left:2%;

}



#liste_notes .editable form,#liste_notes .editable div{

	text-align:center;

}

/******************************************************************************* 

 * CSS QUIZ

*******************************************************************************/

.conteneur_titre_quiz{

    font-size: 30px; 

    width: 100%;

    color: #FFFFFF;

    background-color: #F16E00;    

    margin-bottom: 1%;

    margin-top: 3%;

    padding: 2%;

}



.conteneur_reponse{

    width:80%;

    color: #000000;

    font-size: 20px; 

    margin-bottom: 2px;

    margin-left: 5px;

    display: inline-block;

}



.btn-quiz{

    background: #000000;

    color: #FF8C00;

    font-family: Sans-serif;

    font-size: 30px;

    height: 30px;

    width: 3em;

    line-height: 20px;

    margin-top: 5px;

    text-align: center;

    border: 0;

}



button.btn-quiz:hover {

  background: #FFFFFF;

}



.bouton-faux{

  background: #DC3C14;

  color: #000000;

}

.btn-quiz.bouton-faux:hover {

  background: #DC3C14;

}



.bouton-vrai{

  background: #32C832;

  color: #000000;

}

.btn-quiz.bouton-vrai:hover {

  background: #32C832;

}



#titleModalWindow {

    font-size: 1.6em;

    margin-bottom: 30px;

}



/*Gestion du "look" de la fenetre de resultat du quiz*/

.modal-window {

    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */

    z-index: 1; /* Sit on top */

    width: 100%; /* Full width */

    height: 100%; /* Full height */

    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */

}



.modal-content {

    background-color: #FFFFFF;

    margin: 27% auto;

    padding: 20px;

    border: 2px solid #000;

    width: 80%;

    height: 40%;

    text-align: center;

}



/* Le "bouton" de fermeture*/

#closeModalQuiz{

    background-color: #CCCCCC;

    color: #000000;

    font-size: 1.6em;

    font-weight: bold;

    padding: 15px;

}



#closeModalQuiz:hover,

#closeModalQuiz:focus {

    color: #F16E00;

    background-color: #000000;

    text-decoration: none;

    cursor: pointer;

}



#texte1ResultatQuiz{  

    font-size: 1.2em;

}



#texte2ResultatQuiz {

    font-size: 1.2em;

    margin-bottom: 50px;

}


.textAcceuil {

    background-repeat: no-repeat;

    background-size: 300px auto;

    height: 300px;

    width: 300px;

    margin: 50px auto 0;

    text-align: center;

}

.textAcceuil h1 {
        
        font-size: 60px;

        font-weight: bold;

        color: #FF9000;
}

.textAcceuil p {
        
        font-size: 25px;

        font-weight: bold;
}

.logo {

    background-repeat: no-repeat;

    background-size: 300px auto;

    height: 300px;

    width: 300px;

    background-image: url(../img/logo.png);

    margin: 50px auto 0;

}

.violet {

    color: #663366;

    background-image: url(../img/cercle_violet.png);  

}

.rouge {

    color: #990000; 

    background-image: url(../img/cercle_rouge.png); 
}

.orange {

    color: #FF9000;

    background-image: url(../img/cercle_orange.png);   

}

.vert {

    color: #99CC33; 

    background-image: url(../img/cercle_vert.png); 

}

.bleu {

    color: #336699; 

    background-image: url(../img/cercle_bleu.png);



}

.resultat {

    background-repeat: no-repeat;

    background-size: 300px auto;

    height: 300px;

    width: 300px;

}

.score {

    font-size: 65px;

    padding-top: 112px;
    
    text-align: center;

}



/******************************************************************************* 

 * Medias query pour les petits formats 

*******************************************************************************/
@media handheld , only screen and (max-width: 750px) , only screen and (max-device-width: 750px) {
  #conteneur-page-lancement-appli{
    /*background-position: center 150px */
    background-size: initial;
  } 
}


@media handheld , only screen and (max-width: 500px) , only screen and (max-device-width: 500px) {

	/*#loading-cache {	
    width: 100%;	   
	}  */
  
  /*#conteneur-page-lancement-appli{
    background-position: center 150px
    background-size: 200%;
  } */
  
  #liste_notes .colonne_note{
    float:none;
    width:100%;
    margin-left:0px;
  }

}



@media handheld , only screen and (max-width: 360px) , only screen and

(max-device-width: 360px) {

    header .btn {

        font-size: 12px;

    }

    #btn-retour {

        margin-right: 0px;

    }

    .boutons li {

        font-size: 13px;

        width: 46%;

    }

    .boutons li a span.libelle { 

        width: 50%;

    }

    .boutons li a img { /*display: block;*/

        width: 40px;

        width: 37px;

        padding-top: 10px;

    }

	

	#entete_ajout_notes,#liste_notes{

		font-size: 14px;

	}

    

    #titre-page-lancement-appli{

        font-size: 35px;

    }



    #sous-titre-page-lancement-appli{

        font-size: 25px;

    }



   /* #conteneur-page-lancement-appli{

        background-size: 200%;

    }  */

}



@media handheld , only screen and (max-width: 320px), only screen and

(max-device-width: 320px) {

  #conteneur-page-lancement-appli{
    /*background-position: center 150px */
    background-size: 200%;
    background-position: center 50px;
  }
  
  
    header h1 {

        padding-left: 35px;

        font-size: 18px;

        font-weight: bold;

    }



    header .btn {

        font-size: 12px;

        line-height: 75px;

    }



    header .btn img{

        width: 25px;

    }



    #btn-retour {

        margin-right: 0px;

        font-size: 40px;

    }

	

    #titre-page-lancement-appli{

        font-size: 35px;

    }



    #sous-titre-page-lancement-appli{

        font-size: 18px;

    }

    .libelle, .libelle-avec-image{

        font-size: 14px;

    }

    #bloc-contenu .page-sous-cat{

        font-size: 1.1em;

        font-weight: normal;

    }

    #bloc-contenu h2{

        font-size: 1.2em;

        font-weight: bold;

    }

   

}





@media handheld , only screen and (max-width: 280px) , only screen and

(max-device-width: 280px) {

    header h1 {

        padding-left: 20px;

        font-size: 17px;

        font-weight: bold;

    }



	 header .btn {

        font-size: 11px;

        padding-right: 0px;

    }

	header #btn-menu {

		margin-right: 5px;

	}

	

	#entete_ajout_notes h4{

		padding-left:26px;

		text-align:left;

	}

	

	#entete_ajout_notes .caret_note{

		left:8px !important;

	}



    #titre-page-lancement-appli{

        font-size: 30px;

    }



    #sous-titre-page-lancement-appli{

        font-size: 15px;

    }





}

